.project-parent {
    padding: 10px;
    background: linear-gradient(90deg, rgba(84, 82, 82, 1) 0%, rgba(14, 42, 71, 1) 0%);

}

.card {
    position: relative;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s;
}

.card:hover .card-image {
    transform: scale(1.1);
}

.card-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px;
    color: #c4cfd9;
    opacity: 0;
    transition: opacity 0.3s;
    background: rgba(14, 42, 71, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.1px);
    -webkit-backdrop-filter: blur(14.1px);
}

.card:hover .card-details {
    opacity: 1;
}

.card-details.show {
    opacity: 1;
}


.card-description {
    text-align: justify;
}

.btn-parent {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.detail-btn:hover,
.next-btn:hover {
    cursor: pointer;
    color: #0E2A47;
}

.show-btn {
    width: 150px;
    height: 60px;
    border-radius: 10px;
    background-color: #0E2A47;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 16px;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.show-btn:hover {
    background-color: #FFFFFF;
    color: #0E2A47;
    border: none;
}

/* All Card  */

.allproject-parent {
    background-color: #FFFFFF;
    padding: 10px;
}

.allcard-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px;
    color: black;
    opacity: 0;
    transition: opacity 0.3s;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.card:hover .allcard-details {
    opacity: 1;
}

.allcard-details.show {
    opacity: 1;
}

.card-title {
    color: black;
}

@media (max-width:428px) {
    .card-image {
        height: 290px;
    }
}

@media (max-width:370px) {
    .card-image {
        height: 380px;
    }
}