li {
  list-style: none;
}

.nav-link,
.drop-link {
  text-decoration: none;
  color: #97a6b4;
  font-size: 1.2rem;
  padding: 0;
}

.nav-link:hover {
  color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  padding: 10px 0px;
  transition: 0.5s ease;
}

.drop-link:hover {
  color: #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  padding: 0px 10px;
  transition: 0.5s ease;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 80px;
  background-color: #0e2a47;
}

header.scrolled {
  border-bottom: 1px solid #97a6b4;
}

.navbar {
  width: 100%;
  height: 80px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.navbar .logo img {
  width: 140px;
  height: 50px;
}

.navbar .links {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding-top: 12px;
}

.navbar .toggle_btn {
  color: #97a6b4;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.navbar .toggle_btn:hover{
  color: #FFFFFF;
  transition: 0.5s ease;
}

.action_btn>a {
  color: #97a6b4;
  text-decoration: none;
}

.action_btn>a:hover {
  color: #FFFFFF;
  transition: 0.5s ease;
}

.action_btn {
  width: 120px;
  height: 45px;
  text-decoration: none;
  border: 1px solid #97a6b4;
  color: #97a6b4;
  padding: 0px 30px;
  border-radius: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 150px;
  margin: auto;
}

.action_btn:hover {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  transition: 0.5s ease;
}
.dropdown_menu {
  background-color: #0e2a47;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: none;
  width: 0;
  height: 100vh;
  backdrop-filter: blur(15px);
  overflow: hidden;
  position: absolute;
  top: 80px;
  right: -100%;
  transition: width 1s linear, right 1s linear;
  line-height: 3em;
  border-left: 10px double #97a6b4;
}

.dropdown_menu.open {
  width: 100%;
  right: 0;
}



.dropdown_menu li {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:900px) {
  .navbar .links {
    gap: 2rem;
  }
}

@media (max-width:750px) {

  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}