li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #97a6b4;
  font-size: 1.2rem;
}

a:hover {
  color: #FFFFFF;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 80px;
  background-color: #0e2a47;
}

header.scrolled {
  border-bottom: 1px solid #97a6b4;
}

.navbar {
  width: 100%;
  height: 80px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.navbar .logo img {
  width: 140px;
  height: 50px;
}

.navbar .links {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding-top: 12px;
}

.navbar .toggle_btn {
  color: #97a6b4;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: #97a6b4;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.action_btn:hover {
  scale: 1.05;
  background-color: #0e2a47;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.action_btn:active {
  scale: 0.95;
}

.dropdown_menu {
  background-color: #0e2a47;
  display: none;
  width: 0;
  height: 0;
  backdrop-filter: blur(15px);
  overflow: hidden;
  position: absolute;
  top: 80px;
  right: 0;
  transition: width 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), 
  height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), 
  transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  line-height: 3em;
  transform: translateX(100%);
}

.dropdown_menu.open {
  width: 50%;
  height: 100vh;
  transform: translateX(0);
}




.dropdown_menu li {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 50%;
  display: flex;
  margin: auto;
}

@media (max-width:900px) {
  .navbar .links {
    gap: 2rem;
  }

}

@media (max-width:750px) {

  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }

}