.accordion {
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
}
.accordion-item {
  border: 2px solid #669db4;
  border-radius: 10px;
  /* padding: 10px; */
}

.accordion-title {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  background-color: #FFFFFF;
  color: #03405B;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.accordion-title.active {
  background: -webkit-linear-gradient(315deg, hsla(204, 69%, 8%, 1) 0%, hsla(198, 94%, 18%, 1) 50%, hsla(204, 69%, 8%, 1) 100%);
  color: #97a6b4;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}

.accordion-question {
  flex-grow: 1;
}

.accordion-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.accordion-content.active {
  max-height: 1000px;
  opacity: 1;
  padding: 20px 30px;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  letter-spacing: 2px;
  word-spacing: 1px;
  line-height: 1.7em;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  color: #97a6b4;
  font-weight: 400;
}

.accordion-icon {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.accordion-icon.rotate {
  transform: rotate(180deg);
}
