.accordion {
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  font-family: sans-serif;
}

.accordion>h1 {
  color: #97a6b4;
  font-size: 35px;
  font-weight: 800;
  text-align: center;
  padding-bottom: 10px;
}

.accordion-item {
  border: 2px solid #97a6b4;
  border-radius: 10px;
}

.accordion-title {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  background-color: #FFFFFF;
  color: #97a6b4;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* .accordion-title.active {
  color: #97a6b4;
  background-color: #0E2A47;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
} */

.accordion-question {
  flex-grow: 1;
}

.accordion-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.accordion-content.active {
  max-height: 1000px;
  opacity: 1;
  padding: 20px 30px;
  transition: max-height 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), padding 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  letter-spacing: 2px;
  word-spacing: 1px;
  line-height: 1.7em;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  color: #97a6b4;
  font-weight: 400;
}

.accordion-title.active {
  color: #97a6b4;
  background-color: #0E2A47;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  transition: background-color 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}



.accordion-icon {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.accordion-icon.rotate {
  transform: rotate(180deg);
}