#skill {
  background-color: #0e2a47;
  color: #97a6b4;
  text-align: center;
}

.skill-parent-heading {
  padding-bottom: 30px;
}

.carousel {
  width: 100%;
  overflow: hidden;
  padding: 20px;
}

.wrap {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  justify-items: stretch;
  animation: slide 30s linear infinite;
  animation-play-state: running;
  align-items: center;
}

.wrap img {
  width: 150px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* pause animation on hover  */

/* .wrap:hover {
    animation-play-state: paused; 
  } */

@keyframes slide {
  to {
    translate: calc(-6 * 300px);
  }
}

@media screen and (max-width: 768px) {
  .skill-parent-heading {
    padding-top: 50px;
  }
  .wrap {
    grid-auto-columns: 200px;
  }
  .wrap img {
    width: 120px;
  }
  @keyframes slide {
    to {
      translate: calc(-6 * 200px);
    }
  }
}

@media screen and (max-width: 480px) {
  .wrap {
    grid-auto-columns: 150px;
  }
  .wrap img {
    width: 100px;
  }
  @keyframes slide {
    to {
      translate: calc(-6 * 200px);
    }
  }
}