.resume-parent {
    background: -webkit-linear-gradient(225deg, hsla(204, 69%, 8%, 1) 0%, hsla(198, 94%, 18%, 1) 50%, hsla(204, 69%, 8%, 1) 100%);
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;
}

.resume-parent-child1 {
    width: 400px;
    color: #FFFFFF;
}

.resume-parent-child2 {
    width: calc(100% - 400px);
    background-color: #FFFFFF;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    z-index: 100px;
}