.about-parent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.about-parent-child1,
.about-parent-child2 {
    width: 600px;
    padding: 20px;
}

.about-parent-child1>img {
    display: flex;
    width: 90%;
    margin: auto;
    border-radius: 15px;
}

.about-parent-child2>h1 {
    font-size: 35px;
    padding-bottom: 10px;
    color: #97a6b4;
    font-weight: 800;
}

.detail {
    letter-spacing: 2px;
    word-spacing: 1px;
    line-height: 1.7em;
    display: flex;
    justify-content: space-around;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: #97a6b4;
    font-weight: 400;
}