
.about-container{
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-content, .about-heading{
  max-width: 50%;
}

@media (max-width:768px) {
  .about-container{
    flex-direction: column-reverse;
    margin-top: 0px;
  }
  .about-content, .about-heading{
    max-width: 100%;
    padding: 10px 30px;
  }
}