.footer {
    width: 100%;
    min-height: 10vh;
    border-top: 1px solid #97a6b4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}
.footer h5 {
    color: #97a6b4;
font-size: 1.1rem;
font-weight: 0;
padding: 5px;
}

.footer h5>span{
    color: #FFFFFF;
    font-weight: 800;
    border-bottom: 1px dotted #FFFFFF;
}