* {
    margin: 0;
    padding: 0;
}

.home-parent {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1040%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M91.35805690029157 386.7242533103779L-51.56509732805774 394.0779622916556 14.729170292312169 500.1709678420216z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M442.68 234.36 a126.84 126.84 0 1 0 253.68 0 a126.84 126.84 0 1 0 -253.68 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M429.5588596145775 325.1969434630246L527.3677880273037 237.12938875176792 341.49130490332084 227.38801505029835z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1179.67 181.66 a120.02 120.02 0 1 0 240.04 0 a120.02 120.02 0 1 0 -240.04 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1198.455118532287 211.4231905123748L1250.6375812418985 75.48322753877434 1114.697618268298 23.30076482916303 1062.5151555586867 159.24072780276347z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M652.0565532921146 33.61265493623894L799.8359400808922 102.69485187747883 789.8886339181133-39.55825370975492z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M761.5191453061437 565.2504450334632L869.2920012414961 586.1993660868317 846.8289548538727 414.06562165711875z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M594.12 153.55 a138.45 138.45 0 1 0 276.9 0 a138.45 138.45 0 1 0 -276.9 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M768.7320953824194 457.94097938321966L867.9461893574633 374.69046972117235 685.4815857203721 358.7268854081758z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1441.0989702187585 163.66490212903497L1381.7942075228927 147.77423885735834 1387.6105939633107 244.6767145369955z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M811.29 375.88 a152.76 152.76 0 1 0 305.52 0 a152.76 152.76 0 1 0 -305.52 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1285.2478580350964 428.40922703762624L1146.7153429568366 372.4384578151049 1090.7445737343153 510.9709728933649 1229.2770888125751 566.9417421158862z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1149.45 332.82 a100.21 100.21 0 1 0 200.42 0 a100.21 100.21 0 1 0 -200.42 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M280.1608740119178 345.8396991808389L186.05953111193995 347.4822442309905 235.57402013715625 487.81298605588154z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1040'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.home-parent-child1,
.home-parent-child2 {
    width: 500px;
    margin: 10px;
}

.home-parent-child1-subchild {
    width: 500px;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.6px);
    -webkit-backdrop-filter: blur(0.6px);
    border: 1px solid rgba(255, 255, 255, 0.07);

}

.home-parent-child1-subchild1 {
    padding: 40px 10px;
    color: #97a6b4;
    font-family: 'Roboto', sans-serif;
}

.home-parent-child1-subchild1>img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding-bottom: 10px;
    display: flex;
    margin: auto;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%
}

.home-parent-child1-subchild1>h1 {
    text-align: center;
}

.home-parent-child1-subchild1>hr {
    width: 100px;
    margin: auto;
    border: 1.5px solid #97a6b4;
    margin-top: 20px;
    margin-bottom: 20px
}

.home-parent-child1-subchild1>p {
    text-align: center;
    padding-bottom: 10px;
}

.home-parent-child1-subchild2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
    margin: auto;
    padding: 10px 20px 10px 20px;
}

.home-parent-child1-subchild2>a {
    color: #03405B;
    font-size: 30px;
}

.home-parent-child1-subchild2>a:hover {
    color: #97a6b4;
}

.home-parent-child2-subchild {
    width: 500px;
    text-align: justify;
    word-spacing: 2px;
    letter-spacing: 3px;
    color: #97a6b4;
    font-family: 'Roboto', sans-serif;
}

.home-parent-child2-subchild>h1 {
    font-size: 50px;
}

.home-parent-child2-subchild>div {
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

.home-contact>a {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    margin: auto;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 5px 10px;
}

@media (max-width:540px) {

    .home-parent-child1,
    .home-parent-child2 {
        width: 100%;
    }

    .home-parent-child1 {
        width: 300px;
        display: flex;
        justify-content: space-around;
    }

    .home-parent-child2 {
        width: 300px;
        display: flex;
        justify-content: space-around;
    }

    .home-parent-child2-subchild {
        width: 300px;
    }

    .home-parent-child2-subchild>div {
        width: 300px;
    }
}