html,
body {
  background-color: #0e2a47;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.section {
  scroll-margin-top: 80px;
}
.text-styling {
  color: #97a6b4;
  word-spacing: 2px;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
}
.heading-styling {
  color: #97a6b4;
  word-spacing: 2px;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 800 !important;
  text-align: center !important;
}

.heading-span {
  border-bottom: 5px double #97a6b4;
  padding-bottom: 5px;
}

/* links animation  */

.links-animation > ul > li,
.links-animation a,
.contact-link a {
  position: relative;
  display: inline-block;
}

.links-animation > ul > li::before,
.links-animation a::before,
.contact-link a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform-origin: center;
  transition: transform 0.6s ease;
}

.links-animation > ul > li:hover,
.links-animation a:hover,
.contact-link a:hover {
  border: none;
  color: #ffffff;
}

.links-animation > ul > li:hover::before,
.links-animation a:hover::before,
.contact-link a:hover::before {
  transform: translateX(-50%) scaleX(1);
}

/* button animation  */

.btn-animation,
.project-links a,
.home-contact > a,
.scroll-to-top,
.contact-resume {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #97a6b4;
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  z-index: 1;
  background: transparent;
  border: none;
  box-shadow: 0 0px 2px #97a6b4;
  border-radius: 5px;
}

.btn-animation::before,
.project-links a:before,
.home-contact > a:before,
.scroll-to-top::before,
.contact-resume::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #97a6b4;
  transition: transform 0.5s ease;
  z-index: -1;
}

.btn-animation:hover::before,
.project-links a:hover::before,
.home-contact > a:hover::before,
.scroll-to-top:hover::before,
.contact-resume:hover::before {
  transform: translateX(100%);
}

.btn-animation:hover,
.project-links a:hover,
.home-contact > a:hover,
.scroll-to-top:hover,
.contact-resume:hover {
  color: #0e2a47;
}
