/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute; 
  top: 50%;
  left: 40%;  
  transform: translate(-50%, -50%); 
  list-style: none;
}

/* List items styling */
.loader li {
  font-size: 4rem;
  font-weight: bold;
  position: absolute;
  opacity: 0; 
  color: #97a6b4;
  animation: moveLetter 2s forwards ease-in-out;
}

@keyframes moveLetter {
  0% {
    transform: translate(var(--random-x), var(--random-y)); /* Start from random positions */
    opacity: 0; 
  }
  50% {
    transform: translate(0, 0); 
    opacity: 1; 
    color: #ffffff;
    background-color: #97a6b4;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
    color: #97a6b4;
  }
}

/* Assign random X and Y translation for each letter */
.loader li:nth-child(1) {
  --random-x: -300px;
  --random-y: -300px;
  animation-delay: 0s;
}

.loader li:nth-child(2) {
  --random-x: 300px;
  --random-y: 100px;
  animation-delay: 0.2s;
}

.loader li:nth-child(3) {
  --random-x: -200px;
  --random-y: 150px;
  animation-delay: 0.4s;
}

.loader li:nth-child(4) {
  --random-x: 200px;
  --random-y: -200px;
  animation-delay: 0.6s;
}

.loader li:nth-child(5) {
  --random-x: -100px;
  --random-y: 300px;
  animation-delay: 0.8s;
}

.loader li:nth-child(6) {
  --random-x: 0;
  --random-y: 200px;
  animation-delay: 1s;
}

.loader li:nth-child(7) {
  --random-x: 100px;
  --random-y: -100px;
  animation-delay: 1.2s;
}

.loader li:nth-child(8) {
  --random-x: -250px;
  --random-y: 200px;
  animation-delay: 1.4s;
}

/* This is where we position the letters */
.loader li:nth-child(1) { left: 0; }
.loader li:nth-child(2) { left: 2.5rem; }
.loader li:nth-child(3) { left: 5rem; }
.loader li:nth-child(4) { left: 7.5rem; }
.loader li:nth-child(5) { left: 10rem; }
.loader li:nth-child(6) { left: 12.5rem; }
.loader li:nth-child(7) { left: 15rem; }
.loader li:nth-child(8) { left: 17.5rem; }


@media (max-width: 768px) {
  .loader{
    left: 25%;
  }
  .loader li {
    font-size: 3rem; 
  }

  .loader li:nth-child(1) { left: 0; }
  .loader li:nth-child(2) { left: 2rem; }
  .loader li:nth-child(3) { left: 4rem; }
  .loader li:nth-child(4) { left: 6rem; }
  .loader li:nth-child(5) { left: 8rem; }
  .loader li:nth-child(6) { left: 10rem; }
  .loader li:nth-child(7) { left: 12rem; }
  .loader li:nth-child(8) { left: 14rem; }
}

