.contact-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}

.contact-container>div {
  max-width: 600px;
  padding-top: 20px;
}


.contact-child>h2,
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #97a6b4;
  font-family: sans-serif;
}

.contact-child>h1 {
  font-size: 35px;
  font-weight: 800;
}

.contact-child>h2 {
  font-size: 20px;
  font-weight: 400;
}


.contact-link {
  display: flex;
  width: 200px;
  margin: auto;
  justify-content: space-between;
}

.contact-link>a {
  color: #97a6b4;
}

.contact-link>a:hover {
  color: #0e2a47;
  transition: 1s ease;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form>input,
.contact-form>textarea {
  max-width: 500px;
  height: 60px;
  border: none;
  border-bottom: 2px solid #97a6b4;
  margin-bottom: 20px;
  padding: 20px;
  caret-color: #97a6b4;
  outline: none;
  border-radius: 5px;
  color: #97a6b4;
}

.contact-form>input::placeholder,
.contact-form>textarea::placeholder {
  color: #97a6b4;
  font-size: 18px;
  font-weight: 400;
}

.contact-form>input:focus,
.contact-form>textarea:focus {
  border-left: 2px solid #97a6b4;

}

.contact-form>textarea {
  height: 150px;
}

.contact-form>button {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  border: 2px solid #97a6b4;
  background-color: transparent;
  color: #97a6b4;
  font-weight: 800;
  margin: auto;
}

.contact-form>button:hover {
  border: none;
  color: #97a6b4;
  background-color: #0e2a47;
  transition: 1s ease;

}