.contact > h1 {
  font-size: 35px;
  font-weight: 800;
  text-align: center;
  color: #0e2a47;
  padding-top: 20px;
}
.contact-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

.contact-child1,
.contact-child2 {
  max-width: 600px;
  padding-top: 20px;
}

.contact-child1 > h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #97a6b4;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.contact-link {
  display: flex;
  width: 200px;
  margin: auto;
  justify-content: space-between;
}

.contact-link > a {
  color: #97a6b4;
}

.contact-link > a:hover {
  color: #0e2a47;
  transition: 1s ease;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.contact-form > input,
.contact-form > textarea {
  max-width: 500px;
  height: 60px;
  border: none;
  border-bottom: 2px solid #97a6b4;
  margin-bottom: 20px;
  padding: 20px;
  caret-color: #97a6b4;
  outline: none;
  color: #97a6b4;
  transition: 0.5s all;
}

.contact-form > input::placeholder,
.contact-form > textarea::placeholder {
  color: #97a6b4;
  font-size: 18px;
  font-weight: 400;
}

.contact-form > input:focus,
.contact-form > textarea:focus {
  border: 2.5px solid #97a6b4;
  border-radius: 10px;
}

.contact-form > textarea {
  height: 150px;
}

.contact-form > button {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  border: 2px solid #97a6b4;
  background-color: transparent;
  color: #97a6b4;
  font-weight: 800;
  margin: auto;
}

.contact-form > button:hover {
  border: none;
  color: #97a6b4;
  background-color: #0e2a47;
  transition: 1s ease;
}
