.contact-container {
  width: 100%;
  padding: 20px;

}

.contact-child {
  max-width: 700px;
  padding: 10px;
  margin: auto;
}

.contact-child>h2,
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #97a6b4;
  font-family: sans-serif;
}

.contact-child>h1 {
  font-size: 35px;
  font-weight: 800;
}

.contact-child>h2 {
  font-size: 20px;
  font-weight: 400;
}


.contact-link {
  display: flex;
  width: 200px;
  margin: auto;
  justify-content: space-between;
}

.contact-link>a {
  color: #97a6b4;
}

.contact-link>a:hover {
  color: #0e2a47;
}